<img src="<%= work.image %>">
<h3>Name of the Project - <%= work.name %></h3>
<h3>Number of workers - <%= work.worker %></h3>
<h3>Number of hours - <%= work.hour %></h3>
<h3>Wages - <%= work.wage %></h3>
<p>Address - <%= work.address %></p>